footer {
    display: flex;
    justify-content: center;
    height: 5rem;
    color: #bacbd5;
    background-image: linear-gradient(260deg, #679b9b 0%, #00416d 100%);
    clear: both;
    position: relative;

    .content {
        align-self: center;

        span {
            color: orangered;
        }
    }

    a {
        font-weight: 800;
        color: #1aa6b7;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        font-size: 11px;
    }
}