<div class="container-body">
  <div class="container">
    <h2 class="title">
      My current AWS certificates ({{listCertificates.length || 0}})
    </h2>
    <div class="badge-container">
      <ng-container *ngFor="let item of listCertificates">
        <img [src]="item.url" alt="Image" (click)="openBadge(item.badge)">
      </ng-container>
    </div>
  </div>
  <div class="container mt-0">
    <h2 class="title">
      There are all of my AWS Workshops ({{listWorkshops.length || 0}})
    </h2>
    <div class="card-grid">
      <ng-container *ngFor="let item of listWorkshops">
        <div class="card">
          <img [src]="item.img" alt="Image">
          <div class="title center">
            <p class="line-clamp clamp-3">{{item.title}}</p>
          </div>
          <div class="description">
            <p class="line-clamp clamp-4">{{item.description}}</p>
          </div>
          <a class="btn-detail" [href]="item.url" target="_blank" referrerpolicy="no-referrer">Detail</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>