<div class="container-body">
    <div class="container">
        <div class="item">
            <img class="avatar" src="../../assets/25811730.jpeg">
            <div class="info">
                <h2 class="name">Nam Nguyen</h2>
                <div class="job">Web Developer</div>
                <div class="description">
                    <p>
                        I am working with Angular, VueJs, Dotnet, NodeJS, MongoDB and Typescript. This blog about my favorite web
                        development.
                    </p>
                </div>
            </div>
        </div>

        <div class="link">
            <div class="facebook">
                <a href="https://fb.com/kampasite" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </div>
            <div class="github">
                <a href="https://github.com/TsuKpa" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
            <div class="youtube">
                <a href="https://www.youtube.com/channel/UCte7DVGkSfEU6yAz-vTNt6A?view_as=subscriber" target="_blank">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </div>
            <div class="blog-spot">
                <a href="https://tsukpa.blogspot.com" target="_blank">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>