<div class="container-body">
    <div class="container">
        <div class="item">
            <img class="avatar" src="../../assets/25811730.jpeg">
            <div class="info">
                <h2 class="name">Nam Nguyen</h2>
                <div class="job">Software Engineer</div>
                <div class="description">
                    <p>
                        Hi everyone, I'm Nam — a guy sharing his journey in coding development and snippets of his life on this blog
                    </p>
                </div>
            </div>
        </div>

        <div class="link">
            <div class="facebook">
                <a href="https://fb.com/kampasite" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </div>
            <div class="github">
                <a href="https://github.com/TsuKpa" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/nqnam1996" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <div class="blog-spot">
                <a href="https://tsukpa.blogspot.com" target="_blank">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>