.content-container {
    padding: 0.5rem;
    border-bottom: 1px;
    border-style: solid;
    border-color: #cbd5e0;
    margin: 0 0 1rem 0;

    .content-image {
        margin-right: 2rem;
        display: block;
    }

    .content-items {
        display: block;
    }

    .content-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .content-header-date {
        font-weight: 500;
    }

    .content-header-tag {
        display: inline-flex;
    }

    .tag-item {
        margin-right: 0.5rem;
        text-transform: capitalize;

        a {
            color: #637373;
        }
    }

    .content-title {
        display: flex;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.2rem;

        a {
            color: #337ab7;
        }

        a:hover {
            color: #70b8f7;
        }

    }

    .content-footer {
        display: flex;
        justify-content: flex-end;

        a {
            font-weight: 600;
            color: #00416d;
        }
    }

    .content-footer:hover a {
        color: lightslategray !important;
    }
}

.content-container>div {
    margin-bottom: 0.5rem;
}


/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
    .content-container {
        .content-header {
            font-size: 0.8rem;
            .content-header-tag {
                .tag-item {
                    margin-right: 0.2rem;
                }
            }
        }
        .content-title {
            font-size: 1.4rem;
        }
    }
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
    .container-blog {
        margin-top: 0.5rem;
        grid-template-columns: 5% 90% 5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-blog {
        grid-template-columns: 10% 80% 10%;
    }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .container-blog {
        grid-template-columns: 15% 70% 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    .container-blog {
        grid-template-columns: 20% 60% 20%;
    }
}