h1 {
    color: rgb(51, 6, 37);
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    line-height: 3rem;
}

h2, h3, h4, h5 {
    line-height: normal;
}

img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-blog {
    margin: 1rem 0;
    max-width: 98vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        ". main ."
}

.blog-post {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.8);

    h1 {
        font-weight: 800;
    }

    a {
        color: #337ab7;
    }

    a:hover {
        color: #70b8f7;
    }

    p {
        text-align: justify;
    }

    code[class*=language-] {
        background-color: unset !important;
        color: white !important;
    }

    code {
        color: black;
        border-radius: .25rem;
        font-weight: 200;
        overflow-wrap: break-word;
        padding: .1rem .25rem;
        background-color: #e0e2e3;
    }
    

    blockquote {
        color: #718096;
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: .25rem .5rem;
        border-left: 4px;
        border-style: solid;
        border-color: #4a5568;
        margin-left: 0;
        margin-right: 0;
    }

    iframe {
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

.blog-post li {
    list-style-type: disc;
}


/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
    .container-blog {
        max-width: 100vw;
        grid-template-columns: 4% 92% 4%;
        margin-top: 0 !important;

        ul, ol {
            padding-left: 20px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
    .container-blog {
        max-width: 100vw;
        grid-template-columns: 6% 88% 6%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-blog {
        grid-template-columns: 10% 80% 10%;
    }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .container-blog {
        grid-template-columns: 15% 70% 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    .container-blog {
        grid-template-columns: 20% 60% 20%;
    }
}