.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    button {
        cursor: pointer;
        i {
            font-size: 1.5rem;
        }
    }
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}